.section-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.8rem;

  @include for-laptop {
    grid-template-columns: 1fr;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;

  &--1 {
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url("../images/bckg-orange.png");
    padding: 10rem;

    @include for-desktop-xl {
      padding: 8rem;
    }

    @include for-laptop {
      grid-column: 1 / 2;
      grid-row: 1 /2;
      padding: 5rem;
    }

    h6 {
      @include for-desktop-xl {
        margin-bottom: 5rem;
      }

      @include for-laptop {
        margin-bottom: 0;
        margin-left: auto;
      }
    }

    h2,
    p {
      width: 40%;

      @include for-laptop {
        width: 70%;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: -3.5rem;
      height: auto;
      width: 60%;

      @include for-laptop {
        display: none;
      }
    }
  }

  &--2 {
    background-image: url("../images/bckg-blue.png");
    .service-card__text {
      margin-bottom: 7rem;
      @include for-laptop {
        margin-bottom: 5rem;
      }
    }

    @include for-laptop {
      h2,
      p {
        width: 70%;
      }
    }
  }

  &--3 {
    background-image: url("../images/bckg-red.png");
    .service-card__text {
      margin-bottom: 7rem;
      @include for-laptop {
        margin-bottom: 5rem;
      }
    }

    @include for-laptop {
      h2,
      p {
        width: 70%;
      }
    }
  }

  &__heading {
  }

  &__text {
    font-size: 2rem;
    color: #fff;
    width: 80%;

    &--orange {
      color: #744210;
    }
  }
}

.section-about {
  display: flex;
  margin-right: 5.2%;

  @include for-laptop {
    flex-direction: column;
    margin-bottom: 0;
  }

  &__slider-box {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .slider-btns-wrapper {
      display: flex;
      margin-left: 4.5rem;

      @include for-laptop {
        display: none;
      }
    }

    .slider-btn {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}

.about-card {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background-color: #bee3f8;
  padding: 10rem;

  @include for-desktop-xl {
    padding: 8rem;
  }

  @include for-laptop {
    margin-bottom: 3rem;
    padding: 5rem;

    &__label {
      margin-bottom: 0;
      margin-left: auto;
    }

    &__heading {
      width: 70%;
    }
  }

  &__text {
    color: #4a5568;
    font-size: 2.6rem;
    @include for-laptop {
      width: 70%;
    }
  }
}

.slider-about {
  height: 70%;

  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 40rem;
  }
  .slide {
    height: 100%;
    width: 50px;
    margin-left: 4.5rem;
    width: 43rem;

    @include for-laptop {
      margin-left: 2rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.section-social {
  overflow: hidden;
  &__headings {
    display: flex;
    align-items: center;
    @include for-laptop {
      margin-bottom: 4rem;
    }
  }

  &__heading {
  }
  &__label {
    margin-left: auto;
    margin-right: 6%;
  }
  &__slider-box {
  }
}

.slider-social {
  .slick-list {
    height: 100%;
  }

  .slick-track {
    height: 100%;
  }
}

.social-card {
  border: 1px solid #efedf0;
  border-radius: 10px;
  margin: 0 1rem;
  &__image {
    height: 20rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 2rem;
  }

  &__list {
    display: flex;
    list-style: none;
    margin-bottom: 2rem;
  }

  &__item {
    font-size: 2rem;
    color: #b3b2b2;
    &:not(:first-child) {
      list-style: disc;
      // list-style-position: inside;
      margin-left: 3rem;
      span {
        margin-left: -0.5rem;
      }
    }
  }

  &__text {
    font-size: 2.8rem;
    color: #000;
    margin-bottom: 2rem;
  }

  &__facebook {
    display: flex;
    align-items: center;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.8rem;
      color: #3b50bb;
      margin-left: 1rem;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}
