@import "./base/variables";
@import "./base/mixins";
@import "./base/base";
@import "./base/componenets";
@import "./base/typography";
@import "./base/utilities";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/testemonials";
@import "./layout/contact";
@import "./layout/footer";
@import "./layout/main";
@import "./layout/gallery";

@import "./homepage";
@import "./about-us";

.transition {
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: white;
  transform: scaleY(0);
}
