.footer {
  height: 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 1.8rem;
    color: #a0aec0;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 7rem;
    }
  }

  &__link {
    text-decoration: none;
    &:visited,
    &:hover,
    &:active {
      color: #718096;
    }
  }
}
