.section-main {
  margin-top: -15rem;

  &__content {
    padding-left: 22rem;
    padding-bottom: 11rem;
    padding-top: 20rem;
    background-position: center;
    background-size: cover;

    &--orange {
      background-image: url("../../images/main-bckg-orange.png");
    }

    &--blue {
      background-image: url("../../images/main-bckg-blue.png");
    }
  }

  &__description {
    padding: 6rem 0;
    padding-left: 22rem;
    position: relative;
  }
}

.content {
  &__label {
    margin-bottom: 5rem;
  }

  &__heading {
    width: 45%;
    margin-bottom: 4rem;
    span {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  &__text {
    width: 45%;
    color: #fff;
    font-size: 2.4rem;
  }
}

.description {
  &__image {
    position: absolute;
    bottom: 14rem;
    right: 10rem;
    width: 35%;
    pointer-events: none;

    @include for-desktop-xl {
      bottom: 22rem;
    }

    @include for-desktop {
      bottom: 30rem;
    }
  }
  &__text {
    width: 45%;
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    cursor: pointer;

    &--orange {
      background-color: #feb850;
    }

    &--blue {
      background-color: #edf2f7;
      color: #2c5282;
    }

    &--red {
      background-color: #ee4343;
      color: #fff;
    }

    &__circle {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;

      &--orange {
        background-color: #fff5e6;
      }

      &--blue {
        background-color: #f5faff;
      }

      &--red {
        background-color: #fbf9f9;
      }

      img {
        height: auto;
        width: 50%;
      }
    }
  }
}
