@font-face {
  font-family: SF-regular;
  src: url("../../fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: SF-light;
  src: url("../../fonts/SF-Pro-Display-Light.otf");
}

@font-face {
  font-family: SF-medium;
  src: url("../../fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: SF-heavy;
  src: url("../../fonts/SF-Pro-Display-Heavy.otf");
}

@font-face {
  font-family: SF-semibold;
  src: url("../../fonts/SF-Pro-Display-Semibold.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include for-desktop-xxl {
    font-size: 58%;
  }

  @include for-desktop-xl {
    font-size: 55%;
  }

  @include for-desktop {
    font-size: 52%;
  }

  @include for-laptop {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}
